.flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--i-center {
    align-items: center;
  }

  &--gap {
    gap:var(--gap, 10px 24px);
  }
}

@include mobile {
  .flex {
    &--i-center {
      align-items:flex-start;
    }
    &--gap {
      --gap:16px;
    }
  }
}
