.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  gap: 20px 50px;
  padding-block: 55px 35px;
  font-size: 14px;
  color:rgba(40, 60, 85, 0.3);
  margin-top: auto;

  &__link {
    color:inherit;
    text-transform: uppercase;

    @include hover-focus-visible {
      color:rgba(40, 60, 85, 0.5);
    }
  }
}


@include small-tablet {
  .footer {
    justify-content: center;
  }
}
