.footer {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  align-items:center;
  gap: 20px 32px;
  padding-block: 55px 35px;
  font-size: 14px;
  color:rgba(40, 60, 85, 0.3);
  margin-top: auto;
  &__copy {
    font-size: inherit;
  }
  &__link {
    color:inherit;
    @include hover-focus-visible {
      color:rgba(40, 60, 85, 0.5);
    }
  }
}


@include small-tablet {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    &__link {
      &--index {
        order: 1;
      }
    }
  }
}
