.form {
  --placeholder: rgba(var(--primary-color-rgb), 1.0);
  font-size: 14px;
  font-weight: 500;
  max-width: 545px;
  &--recovery {
    width: 332px;
  }
  &--box {
    box-shadow: 8px 8px 16px #DFDFDF;
    border-radius: 40px;
    background-color:var(--light-color);
    padding-inline:36px;
    padding-block: 49px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 24px;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  textarea {
    @include input;
  }

  textarea {
    width: 100%;
    resize: none;
    border-radius: 16px;
    font: inherit;
    min-height: 112px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__requirement {
    padding-inline: 14px;
    display: none;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--recovery {
      gap: 8px;
    }
  }

  &__agreement {
    display: flex;
    line-height: 1.19;
    gap: 10px;
    max-width: 80%;
    align-self: center;

    input {
      flex-shrink: 0;
    }
  }

  &__button {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__password-recovery {
    display: block;
    text-align: center;
    color:#738296;
    line-height: 1.45;
  }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='checkbox'],
  input[type='radio'] {
    --active: rgba(var(--primary-color-rgb), 1.0);
    --active-inner: rgba(var(--primary-color-rgb), 1.0);
    --focus: 2px rgba(39, 94, 254, .5);
    --border: rgba(41, 61, 86, 1);;
    --border-hover: rgba(39, 94, 254, .5);
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 3.5px;
      top: 4.5px;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 29px;
      height: 29px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 8px;

      &:after {
        width: 9px;
        height: 18px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 9px;
        top: 3px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --b:#fff;
        --r: 43deg;
      }
    }

    &.switch {
      width: 48px;
      height: 27px;
      border-radius: 44px;
      border-width: 3px;
      --ab:#fff;
      &:after {
        left: -3px;
        top: -2.5px;
        border-radius: 50%;
        border:3px solid var(--second-color);
        width: 26px;
        height: 26px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 21px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
    &:invalid:placeholder-shown {
      background-color:red;
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}


.checkbox-field {
  display: flex;
  align-items:center;
  gap: 14px;
  cursor: pointer;

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius:4px;
    flex-shrink: 0;

    &::after {
      width: 5px;
      height: 9px;
      left: 5px;
      top: 2px;
    }
  }
}


.textarea {
  border: 1px solid var(--border, #D7D7E1);
  border-radius: 24px;
  padding-inline: 29px;
  padding-block: 21px 23px;
  &--offset {
    margin-block: 18px 34px;
  }

  &__field {
    --placeholder:rgba(var(--primary-color-rgb), 0.5);
    border:none;
    background-color:transparent;
    font:inherit;
    color:inherit;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    min-height: 120px;
    transition: border 0.2s linear;

    &::-webkit-input-placeholder {
      color: var(--placeholder);
    }

    &::-moz-placeholder {
      color: var(--placeholder);
    }

    &:-ms-input-placeholder {
      color: var(--placeholder);
    }

    &:-moz-placeholder {
      color: var(--placeholder);
    }
  }

  &:hover,
  &:focus-within {
    --border:rgba(var(--primary-color-rgb), 1.0)
  }
}

@include responsive-point-3 {
  .form {
    &--wide-on-tablet {
      max-width: 100%;
      width: 100%;
    }
  }
}

@include mobile {
  .form {
    &--recovery {
      width: 100%;
    }
    &--box {
      padding-inline: 24px;
      padding-block: 32px;
    }
    &__actions {
      row-gap: 16px;
    }
  }
}

@include small-mobile {
  .form {
    &--box {
      border-radius:16px;
      padding-inline: 20px;
    }
    &__group {
      margin-bottom: 16px;
    }
    &__agreement {
      max-width: 100%;
    }
  }

  .textarea {
    padding-inline: 20px;
    padding-block: 20px;
  }
}
