.heading {
  margin: 0;
  color: inherit;
  font-weight: 700;
  margin-bottom: 24px;

  &--primary {
    font-size: 32px;
    line-height: 0.95;
  }

  &--large {
    font-size: clamp-calc(375px, 1920px, 40px, 80px);
    line-height: 0.9;
  }

  &--secondary {
    font-size: 18px;
    margin-bottom: 16px;
  }

  &--center {
    text-align: center;
  }
}
