.heading {
  margin: 0;
  color: inherit;
  font-weight: 700;
  margin-bottom: 24px;

  &--primary {
    font-size: clamp-calc(500px, 1920px, 24px, 32px);
    line-height: 0.95;
  }

  &--large {
    font-size: clamp-calc(490px, 1920px, 56px, 64px);
    line-height: 0.9;
  }

  &--secondary {
    font-size: 18px;
    margin-bottom: 16px;
  }

  &--center {
    text-align: center;
  }
}
