.header {
  display: flex;
  align-items:center;
  font-size: 14px;
  position: sticky;
  padding-block: 20px;
  margin-bottom: 24px;
  top: 0;
  z-index: 10;

  &--bg {
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(18px);
  }

  &__logo {
    margin-right: 52px;
  }
  &__helper {
    margin-right: auto;
    opacity: 0.5;
  }
  &__helper,
  &__login,
  &__projects {
    display: flex;
    color:inherit;
    gap: 8px;
    outline-offset: 4px;
    transition: opacity 0.2s linear;

    @include hover-focus-visible {
      opacity: 0.7;
    }
  }

  &__projects {
    margin-right: 32px;
  }
}

@include responsive-point-1 {
  .header {
    background-color:#fff;
  }
}

@include large-mobile {
  .header {
    &__projects {
      margin-left: auto;
    }
  }
}

@include mobile {
  .header {
    column-gap: 24px;
    display: grid;
    grid-template-columns: 1fr max-content max-content;

    &__logo {
      margin-right: 0;
      justify-self: start;
    }
    &__helper {
      margin-right: 0;
    }

    &__projects {
      margin-right: 0;
    }
  }
}
