.panel-layout {
  --gap: 33px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);

  &__item {
    align-self: flex-start;

    &--full {
      grid-column: 1/-1;
    }

    &--half {
      grid-column: span 6;
    }

    &--rspan-2 {
      grid-row: span 2;
    }

    &--rspan-3 {
      grid-row: span 3;
    }

    &--rspan-4 {
      grid-row: span 4;
    }

    &--subgrid {
      display: grid;
      gap: var(--gap);
    }
  }
}


@include tablet {
  .panel-layout {
    --gap:24px;
    &__item {
      &--half {
        grid-column: span 5;
      }
      &--rspan-2,
      &--rspan-3,
      &--rspan-4 {
        grid-column: span 7;
      }
    }
  }
}

@include responsive-point-3 {
  .panel-layout {
    --gap:20px;
    &__item {
      &--half {
        grid-column: 1/-1;
      }
      &--rspan-2,
      &--rspan-3,
      &--rspan-4 {
        grid-column: 1/-1;
      }
    }
  }
}
