.recovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 380px;
    text-align: center;
  }
  &__desc {
    max-width: 332px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__media {
    display: flex;
    position: absolute;
    bottom: calc(100% - (237px / 2));

    &-svg {
      width: 100%;
      height: auto;
    }
  }
}


@include responsive-point-1 {
  .recovery {
    &__media {
      bottom:calc((100% - var(--header-height)) - (200px / 2));
      max-width: 300px;
    }
  }
}


@include mobile {
  .recovery {
    &__media {
      display: none;
    }
  }
}
