// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --content-width: 1121px;
  --container-offset: 80px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container:max(var(--container-offset), calc((100% - var(--content-width)) / 2));
  --container-half:max(var(--container-offset), calc(100% - var(--content-width) / 2));
  --light-color: #fff;

  //color
  --primary-color:#283c55ff;
  --secondary-color:#fa0a32ff;
  --gray-color:#F9F9FA;
  --light-gray:#F0F1F2;
}
